.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
}
  
.card {
  border: 1px solid #ebe8e8;
  padding: 10px;
  flex-grow: 1;
}
.card:hover {
  background-color: #c2a9a9;
  box-shadow: 2px 2px 4px #474242;
}
  
.card a {
  text-decoration: none;
}
  
.delete-button {
  background-color: #f44336;
  color: black;
  border: none;
  padding: 2px 10px;
  border-radius: 2px;
}
  
.delete-button:hover {
  background-color: #ca372d;
}
